@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-zinc-900 bg-gray-50;
  }
}

@layer utilities {
  .glass {
    @apply bg-white/70 backdrop-blur-xl border border-white/20 shadow-xl;
  }
  .glass-dark {
    @apply bg-zinc-800/70 backdrop-blur-xl border border-white/10 shadow-xl;
  }
  
  /* Hide scrollbar but allow scroll */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}